$color-turquoise: #208b95;
$color-turquoise-lighter: #3a98a1;
$color-white: #ffffff;
$color-black: #000000;

@mixin ui-font($font-size: 108px, $color: #000, $font: Neutral Face) {
	color: $color;
	font-family: $font;
	font-size: $font-size;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
