.link{
    text-decoration: none;
    display: inline-flex;
    padding: 23px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 99px;
    border: 1px solid #000; 
    text-transform: uppercase;
}